body {
    background-color: black;
    color: aquamarine;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

input {
    height: 18px;
    border-color: ghostwhite;
    border-style: double;
}

button {
    background-color: black;

    color: aquamarine;

    border-color: aquamarine;
    border-width: 0.5px;
    border-style: groove;

}
